body {
    background: #000;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    color: #00ff66;
}

.terminal {
    max-width: 800px;
    margin: auto;
    padding: 25px;
}

.title {
    border-bottom: 1px solid #00ff66;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.line {
    font-size: 16px;
    margin: 8px 0;
}

.terminal-link {
    color: #00ff66;
    border: 1px solid #00ff66;
    padding: 10px 16px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}

.terminal-link:hover {
    background: #00ff66;
    color: #000;
}

.qr-desktop {
    margin-top: 20px;
    text-align: center;
}

.qr {
    width: 180px;
    height: 180px;
}

.qr-caption {
    margin-top: 8px;
    color: #777;
    font-size: 14px;
}

/* скрыть QR на телефонах */
@media (max-width: 700px) {
    .qr-desktop {
        display: none;
    }
}

.footer {
    margin-top: 40px;
    font-size: 18px;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,50% {opacity:1;}
    50.01%,100% {opacity:0;}
}
