body {
    background: #000;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    color: #00ff66;
}

.terminal {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.header {
    border-bottom: 1px solid #00ff66;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.line {
    font-size: 16px;
    margin: 6px 0;
}

.green {
    color: #00ff66;
}

.terminal-button {
    display: inline-block;
    border: 1px solid #00ff66;
    padding: 10px 14px;
    color: #00ff66;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.terminal-button:hover {
    background: #00ff66;
    color: #000;
}

.qr-container {
    margin-top: 10px;
    text-align: left;
}

.qr-container img {
    width: 160px;
    height: 160px;
}

.footer {
    margin-top: 40px;
    font-size: 18px;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    50.01%,100% { opacity: 0; }
}

/* MOBILE */
@media (max-width: 600px) {
    .terminal {
        padding: 12px;
    }

    .line {
        font-size: 14px;
    }

    .header {
        font-size: 16px;
    }

    .qr-container img {
        width: 140px;
        height: 140px;
    }
}
